@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body { 
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
}
:root {
    --padding-container: 100px 0; /* Creación de una variable con propiedades */
    --color-title: #001a49;
    --color-gallerybackground: #333;
    
}

.container {
    width: 90%; /* Ocupar este porcentaje de pantalla y no todo hacia los lados */
    max-width: 1200px; /* Ancho Max */
    margin: 0 auto; /*Para centrar verticalmente el elemento container */
    overflow: hidden; /* Todo lo que salga del elemento se esconda */ 
    padding: var(--padding-container);

}

.hero {
    width: 100%; /* Que ocupe el 100% de la pantalla para poner la imagen */
    height: 100vh; /* Altura del 100% view height */
    /* Para solucionar problemas en los ipads */
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1rf;
    color: #ffff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/monalog.jpeg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Navegation */
.nav {
    --padding-container:o;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {
    font-weight: 300; /* Peso de fuente más delgado */
}

.nav_items {
    list-style: none;
}

.nav_link {
    margin-left: auto; /* Para que los elementos se pasen a la derecha */
    padding: 0;
    display: grid;
    grid-auto-flow: column; /* flujo en columnas */
    grid-auto-columns: max-content; 
    gap: 2em;

}

.nav_links {
    color: #ffff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer; /* para que cada que le de clic se active */
    display:none; /* Para que no se vea hasta que estemos en dispositivos mobiles */
}
.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none); /* similar a nav_menu en dispositivos mobiles*/
}

/* Hero container contenido de la sección */
.hero_container {
    max-width: 800px; /* Ancho max */
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content; /* Filas creadas de manera automatica sean del tam max */
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title {
    font-size: 3rem;
}

/* .hero_paragraph {
    margin-bottom: 20px;
} */

.cta {
    display: inline-block;
    /* sección de colores del esquema section */
    background-color: #e7ab1f;
    justify-self: center; /* juntar el bloque de menu con el bloque de color*/
    color: #ffff;
    text-decoration: none; /* quita la linea de hipervinculo en el texto */
    padding: 13px 30px;
    border-radius: 32px;
}

/* Galeria main - section ¿quiénes somos? */
.about_container{
    font-size: 1rem;
    color: #ffff;
    display: inline-block;
    background-color: #333;
    justify-self: center;
    border-radius: 32px;
}



.gallery_photos {
    padding:0;
}

.container_img {
    width: 100p%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container_img .box-img figure{
    width: 100%;
    height: 100%;
}
.container_img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container_img .box-img:nth-child(4){
    grid-row-start: span 2;
}
@media screen and (max-width:800px){
    .container_img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container_img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container_img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_img .box-img img{
        height: 200px;
    }
}