@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body { 
    font-family: 'Poppins', sans-serif;
}
:root {
    --padding-container: 100px 0; /* Creación de una variable con propiedades */
    --color-title: #001a49;
}

.container {
    width: 90%; /* Ocupar este porcentaje de pantalla y no todo hacia los lados */
    max-width: 1200px; /* Ancho Max */
    margin: 0 auto; /*Para centrar verticalmente el elemento container */
    overflow: hidden; /* Todo lo que salga del elemento se esconda */ 
    padding: var(--padding-container);

}

.hero {
    width: 100%; /* Que ocupe el 100% de la pantalla para poner la imagen */
    height: 100vh; /* Altura del 100% view height */
    /* Para solucionar problemas en los ipads */
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1rf;
    color: #ffff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/monalog.jpeg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Navegation */
.nav {
    --padding-container:o;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {
    font-weight: 300; /* Peso de fuente más delgado */
}

.nav_items {
    list-style: none;
}

.nav_link {
    margin-left: auto; /* Para que los elementos se pasen a la derecha */
    padding: 0;
    display: grid;
    grid-auto-flow: column; /* flujo en columnas */
    grid-auto-columns: max-content; 
    gap: 2em;

}

.nav_links {
    color: #ffff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer; /* para que cada que le de clic se active */
    display:none; /* Para que no se vea hasta que estemos en dispositivos mobiles */
}
.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none); /* similar a nav_menu en dispositivos mobiles*/
}
